<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Выбор действия</title>
</head>
<body style="display:flex;justify-content:center;">
<div style="max-width:800px;">
    <h1>Выбор действия</h1>
    <div>
        <button style="width:100%;text-align:left;" onclick="location.href='{% url 'change' pk %}'">
            <span style="font-size:2rem;">Редактировать</span>
            <p style="font-size:0.7rem;">Изменение данных клиента, перенос даты записи {{ last_name }}</p>
        </button>
        <button style="width:100%;text-align:left;" onclick="location.href='{% url 'delete' pk %}'">
            <span style="font-size:2rem;">Удалить</span>
            <p style="font-size:0.7rem;">Отменить запись {{ last_name }}</p>
        </button>
    </div>
    <style>
        button {
            margin-bottom:20px;
            -webkit-appearance: none;
            -moz-appearance: none;
            min-height: 35px;
            border-radius: 5px;
            border: 1px solid #D4D4D4;
            color: #000;
            font-size: 14px;
            cursor: pointer;
            background: #efefef;
        }
        button:hover {
            opacity: 0.7;
            background: #d7d7d7;
        }
    </style>
</div>
</body>
</html>