<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <span style="color: red; font-family: Arial;">{{ form.non_field_errors }}</span>
        <label>
            {{ form.username.label }}
            {{ form.username }}
        </label>
        <span style="color: red; font-family: Arial;">{{ form.username.errors }}</span>
        <label>
            {{ form.password.label }}
            {{ form.password }}
        </label>
        <span style="color: red; font-family: Arial;">{{ form.password.errors }}</span>
        <button type="submit">Войти</button>
    </form>
</body>
</html>
