 <!doctype html>
<html lang=ru>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href='{% static "users/css/personal_account.css" %}'>
    <script src="{% static 'users/js/help_button.js' %}" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="https://polina-nail.ru/static/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="https://polina-nail.ru/static/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="https://polina-nail.ru/static/favicons/favicon-16x16.png">
	<link rel="shortcut icon" type="image/png" href="https://polina-nail.ru/static/favicons/favicon.ico"/>
	<link rel="manifest" href="https://polina-nail.ru/static/favicons/site.webmanifest">
	<link rel="mask-icon" href="https://polina-nail.ru/static/favicons/safari-pinned-tab.svg" color="#39b329">
	<meta name="msapplication-TileColor" content="#39b329">
	<meta name="theme-color" content="#39b329">

    <title>Личный кабинет</title>
</head>
<body>
    <div>
        <div class="logo">
            <a class="logo-link" href="{% url 'main_page' %}">
                <img class="site_logo" src="{% static 'main_page/images/logo.png' %}" width="60" height="60">
                <p class="logo-link-text">Polina Nail</p>
            </a>
        </div>
        <h1>Личный кабинет</h1>
        <div class="wrapper-block">
            <span id="edit">
                Персональные данные
                <button id="edit-button" class="button-transform" onclick="location.href='{% url 'users:refactor_personal_data' %}'"></button>
            </span>
            <div class="block-of-data">
                <p id="last-name">Фамилия</p>
                <span class="data">{{ last_name }}</span>
            </div>
            <hr>
            <div class="block-of-data">
                <p id="first-name">Имя</p>
                <span class="data">{{ first_name }}</span>
            </div>
            <hr>
            <div class="block-of-data">
                <p id="patronymic">Отчество</p>
                <span class="data">{{ patronymic }}</span>
            </div>
            <hr>
            <div class="block-of-data">
                <p>Телефон</p>
                <span class="data">{{ phone_number }}</span>
            </div>
        </div>

        <div class="wrapper-block wrapper-button button-transform">
            <a href="{% url "sign_up" %}" class="link new-sign-up">Записаться на услугу</a>
        </div>

        <div class="wrapper-block wrapper-button button-transform">
            <a class="link future-sign-up" href="{% url 'users:f_sign_ups' %}">Предстоящие записи</a>
        </div>

        <div class="wrapper-block wrapper-button button-transform">
            <a class="link past-sign-up" href="{% url 'users:p_sign_ups' %}">История записей</a>
        </div>

        <div class="wrapper-block wrapper-button disabled">
            <a href="#" class="link notifications link-dis">Настроить уведомления</a>
        </div>

        <div class="wrapper-block wrapper-button button-transform">
            <button class="link help">Помощь</button>
        </div>

        <div class="wrapper-block wrapper-button button-transform">
            <a class="link exit-link" href="{% url "users:logout" %}">Выйти из аккаунта</a>
        </div>

        <div id="modal" class="modal">
            <div class="modal-content">
                <div style="position: relative;height: 50px;">
                    <button class="close"></button>
                </div>
                <button class="modal-btn" onclick="location.href='https://wa.me/79041465797?text=Нужна%20помощь%20по%20сайту'">Вопрос мастеру</button>
                <button class="modal-btn" onclick="location.href='https://wa.me/79021790017?text=Нужна%20помощь%20по%20сайту'">Вопрос програмисту</button>
            </div>
        </div>

    </div>
</body>
</html>