 <!doctype html>
<html lang=ru>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/users/personal_account.css">

    <link rel="apple-touch-icon" sizes="180x180" href="https://polina-nail.ru/static/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="https://polina-nail.ru/static/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="https://polina-nail.ru/static/favicons/favicon-16x16.png">
	<link rel="shortcut icon" type="image/png" href="https://polina-nail.ru/static/favicons/favicon.ico"/>
	<link rel="manifest" href="https://polina-nail.ru/static/favicons/site.webmanifest">
	<link rel="mask-icon" href="https://polina-nail.ru/static/favicons/safari-pinned-tab.svg" color="#39b329">
	<meta name="msapplication-TileColor" content="#39b329">
	<meta name="theme-color" content="#39b329">

    <title>Профиль</title>
</head>
<body>
    <div>
        <h1>Профиль</h1>
        <div class="wrapper-block">
            <span id="edit">
                <button id="edit-button" onclick="href='#'"></button>
            </span>
            <div class="block-of-data">
                <p id="last-name">Фамилия</p>
                <span class="data">Куборский</span>
            </div>
            <hr>
            <div class="block-of-data">
                <p id="first-name">Имя</p>
                <span class="data">Павел</span>
            </div>
            <hr>
            <div class="block-of-data">
                <p id="patronymic">Отчество</p>
                <span class="data">Александрович</span>
            </div>
            <hr>
            <div class="block-of-data">
                <p>Телефон</p>
                <span class="data">+7 (995) 045-00-17</span>
            </div>
        </div>
        <div class="wrapper-block wrapper-exit">
            <a class="exit-link" href="#">Выйти из аккаунта</a>
        </div>
    </div>
</body>
</html>