<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="preconnect" href="https://fonts.googleapis.com">
	    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    
        <link rel="apple-touch-icon" sizes="180x180" href="https://polina-nail.ru/static/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="https://polina-nail.ru/static/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="https://polina-nail.ru/static/favicons/favicon-16x16.png">
        <link rel="shortcut icon" type="image/png" href="https://polina-nail.ru/static/favicons/favicon.ico"/>
        <link rel="manifest" href="https://polina-nail.ru/static/favicons/site.webmanifest">
        <link rel="mask-icon" href="https://polina-nail.ru/static/favicons/safari-pinned-tab.svg" color="#39b329">
        <meta name="msapplication-TileColor" content="#39b329">
        <meta name="theme-color" content="#39b329">

        {% load static %}
        <link rel="stylesheet" href='{% static "users/css/register.css" %}'>
        <script src="{% static 'sign_up/js/phoneinput.js' %}"></script>
        <script src="{% static 'users/js/phone_verification.js' %}" defer></script>
    
        <title>Регистрация</title>
    </head>
<body>
    <div class="container">
        <div class="logo">
            <a class="logo-link" href="{% url 'main_page' %}">
                <img class="site_logo" src="{% static 'main_page/images/logo.png' %}" width="60" height="60">
                <p class="logo-link-text">Polina Nail</p>
            </a>
        </div>
        <span class="text">Введите номер телефона</span>
        <p class='additional-text'>
            Нужен для входа в аккаунт 
        </p>
        <div class="phone-number">
            <input type="tel" data-tel-input name="phone-number" id="phone-number">
        </div>
        <div class="button-wrap">
            <button type="button" class="button">Продолжить</button>
        </div>
    </div>
</body>
</html>