<!doctype html>
<html lang=ru>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/week_future_sign_ups.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="https://polina-nail.ru/static/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://polina-nail.ru/static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://polina-nail.ru/static/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/png" href="https://polina-nail.ru/static/favicons/favicon.ico"/>
    <link rel="manifest" href="https://polina-nail.ru/static/favicons/site.webmanifest">
    <link rel="mask-icon" href="https://polina-nail.ru/static/favicons/safari-pinned-tab.svg" color="#39b329">
    <meta name="msapplication-TileColor" content="#39b329">
    <meta name="theme-color" content="#39b329">

    <title>Записи на неделю</title>
</head>
<body>
<div>
    <div class="logo">
        <a class="logo-link" href="{% url 'main_page' %}">
            <img class="site_logo" src="{% static 'main_page/images/logo.png' %}" width="60" height="60">
            <p class="logo-link-text">Polina Nail</p>
        </a>
    </div>
    <h1>Записи на неделю</h1>
    {% for day_of_week, sign_ups_on_day in sign_ups.items %}
    <div class="block">
        {% if forloop.last %}
            <h2 style="color: red;">{{day_of_week}}, {{ sign_ups_on_day.0 }}</h2>
            <h3 style="color: red;">Выходной</h3>
        {% else %}
            <h2>{{day_of_week}}, {{ sign_ups_on_day.0 }}</h2>
            {% if sign_ups_on_day.1 %}
                {% for sign_up in sign_ups_on_day.1 %}
                        <div class="wrap-data">
                            <h3>{{ sign_up.time.time }}</h3>
                            <h4>{{ sign_up.service }}</h4>
                            <div class="add-serv">
                            {% for add_serv in sign_up.additional_service.all %}<h6>{{ add_serv }}</h6>{% endfor %}
                            </div>
                            <div class="pers-data">
                            <h5>{{ sign_up.last_name }} {{ sign_up.first_name }} {{ sign_up.patronymic }}</h5>
                            <h5><a href="tel:{{ sign_up.phone_number }}">{{ sign_up.phone_number }}</a></h5>
                            </div>
                        </div>
                {% endfor %}
            {% else %}
                <h3>Нет записей</h3>
            {% endif %}
        {% endif %}
    </div>
    {% endfor %}
</div>
</body>