<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <link rel="apple-touch-icon" sizes="180x180" href="https://polina-nail.ru/static/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://polina-nail.ru/static/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://polina-nail.ru/static/favicons/favicon-16x16.png">
  <link rel="shortcut icon" type="image/png" href="https://polina-nail.ru/static/favicons/favicon.ico"/>
  <link rel="manifest" href="https://polina-nail.ru/static/favicons/site.webmanifest">
  <link rel="mask-icon" href="https://polina-nail.ru/static/favicons/safari-pinned-tab.svg" color="#39b329">
  <meta name="msapplication-TileColor" content="#39b329">
  <meta name="theme-color" content="#39b329">

  <title>Прием платежа</title>

  <!--Подключение библиотеки для инициализации виджета ЮKassa-->
  <script src="https://yookassa.ru/checkout-widget/v1/checkout-widget.js"></script>
 </head>
 <body style="
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: space-around;" >
  <!--Контейнер, в котором будет отображаться платежная форма-->
  <div id="payment-form" style="
    width: 50vw;" ></div>

  <script>
  //Инициализация виджета. Все параметры обязательные.
  const checkout = new window.YooMoneyCheckoutWidget({
      confirmation_token: "{{ confirmation_token }}", //Токен, который перед проведением оплаты нужно получить от ЮKassa
<!--      return_url: 'http://127.0.0.1:8443{% url 'sign_up_finish' pk %}', //Ссылка на страницу завершения оплаты, это может быть любая ваша страница-->

      //При необходимости можно изменить цвета виджета, подробные настройки см. в документации
       customization: {
        //Настройка цветовой схемы, минимум один параметр, значения цветов в HEX
        //colors: {
            //Цвет акцентных элементов: кнопка Заплатить, выбранные переключатели, опции и текстовые поля
            //control_primary: '#00BF96', //Значение цвета в HEX

            //Цвет платежной формы и ее элементов
            //background: '#F2F3F5' //Значение цвета в HEX
        //}

<!--        payment_methods: ['bank_card', 'sberbank', 'sbp']-->

      },
      error_callback: function(error) {
          console.log(error)
      }
  });

  checkout.on('success', () => {
          //Код, который нужно выполнить после успешной оплаты.
          window.location.href = '{% url 'sign_up_finish' pk %}';
          //Удаление инициализированного виджета
          checkout.destroy();
      });

  checkout.on('fail', () => {
          //Код, который нужно выполнить после неудачной оплаты.
          window.location.href = '{% url 'sign_up_error' pk %}';
          //Удаление инициализированного виджета
          checkout.destroy();
      });

  //Отображение платежной формы в контейнере
  checkout.render('payment-form');
  </script>
 </body>
</html>
