<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    {% load static %}
    <link href="{% static 'sign_up/css/sign_up.css'%}" rel="stylesheet">
    <link href="{% static 'sign_up/vanilla-calendar/build/vanilla-calendar.min.css'%}" rel="stylesheet">
    <script src="{% static 'sign_up/vanilla-calendar/build/vanilla-calendar.min.js'%}" defer></script>
    <script src="{% static 'sign_up/js/phoneinput.js'%}"></script>
    <script src="{% static 'sign_up/js/add_service.js'%}" defer></script>


    <link rel="apple-touch-icon" sizes="180x180" href="https://polina-nail.ru/static/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="https://polina-nail.ru/static/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="https://polina-nail.ru/static/favicons/favicon-16x16.png">
	<link rel="shortcut icon" type="image/png" href="https://polina-nail.ru/static/favicons/favicon.ico"/>
	<link rel="manifest" href="https://polina-nail.ru/static/favicons/site.webmanifest">
	<link rel="mask-icon" href="https://polina-nail.ru/static/favicons/safari-pinned-tab.svg" color="#39b329">
	<meta name="msapplication-TileColor" content="#39b329">
	<meta name="theme-color" content="#39b329">

    <script src="https://yookassa.ru/checkout-widget/v1/checkout-widget.js"></script>


    <title>Форма записи</title>
</head>
<body>
<div class="record-block">
    <form>
        {% csrf_token %}
        <div class="personal-data">
            {{ form.non_field_errors }}
            <div class="service">
                <label for='{{ form.service.id_for_label }}' class="text-personal-data">{{ form.service.label }}</label>
                {% if service == None %}
                    {{ form.service }}
                {% else %}
                    <input type="text" name="service" id="service" value="{{ service }}" readonly>
                {% endif %}
                <span id="error-service" style="color: red; font-family: Arial;">{{ form.service.errors }}</span>
                <script>
                    document.querySelector('#service').addEventListener('input', function(e){
                        let errorService = document.querySelector('#error-service');
                        errorService.style = 'display: none';
                    });
                </script>
            </div>

            <div class="add-service" id="hiddenRealAddService">
                {{ form.add_service }}
                <span id="error-add-service" style="color: red; font-family: Arial;">{{ form.add_service.errors }}</span>
            </div>
            
            <div class="wrapper-add-button">
                <button class="button-add-service" type="button">
                    <img class="img-button-add-service" src="/media/sign_up/free-icon-font-square-plus.png">
                    <span class="text-button-add-service">Дополнительная услуга</span>
                </button>
            </div>
            
            <div class="name">
                <p class="text-personal-data">{{ form.person_name.label }}</p>
                {% if data %}
                    <input type="text" name="person_name" id="person-name" value="{{ data.person_name }}" placeholder="Иванов Иван Иванович" required>
                {% else %}
                    {{ form.person_name }}
                {% endif %}
                <span id="error-name" style="color: red; font-family: Arial;">{{ form.person_name.errors }}</span>
                <script>
                    document.querySelector('#person-name').addEventListener('input', function(e){
                        let errorName = document.querySelector('#error-name');
                        errorName.style = 'display: none';
                    });
                </script>
            </div>
            <div class="number">
                <p class="text-personal-data">{{ form.phone_number.label }}</p>
                {% if data %}
                    <input type="text" name="phone_number" id="phone-number" value="{{ data.phone_number }}" data-tel-input maxlength="18" required>
                {% else %}
                    {{ form.phone_number }}
                {% endif %}
                <span id="error-number" style="color: red; font-family: Arial;">{{ form.phone_number.errors }}</span>
                <script>
                    document.querySelector('#phone-number').addEventListener('input', function(e){
                        let errorNumber = document.querySelector('#error-number');
                        errorNumber.style = 'display: none';
                    });
                </script>
            </div>
        </div>

        <div id="calendar"></div>
        <div class="date-wrap">
            {{ form.date }}
            <span id="error-date" style="color: red; font-family: Arial;">{{ form.date.errors }}</span>
        </div>

        <div>
            <div class="container">
                <div class="time">
                    {% for time in form.time %}
                        <label class="time-btn-wrap">
                            {{ time.tag }}
                            <span class="time-btn">
                                {{ time.choice_label }}
                            </span>
                        </label>
                    {% endfor %}
                </div>
            </div>
            <span id="error-time" style="color: red; font-family: Arial;">{{ form.time.errors }}</span>
        </div>
        <script>
            const requestURL = "{% url 'sign_up' %}"
            const validateDate = "{% url 'validate_date' %}"

            let dis = [];
            {% if dates %}
                {% for d in dates %}
                    dis.push('{{d}}');
                {% endfor %}
            {% endif %}
        </script>
        <script src="{% static 'sign_up/js/calendar.js'%}"></script>

        <div class="submit-wrap">
            <button type="submit" id="submit">Записаться</button>
            <script src="{% static 'sign_up/js/submit.js'%}"></script>

        </div>
        <p class="privacy-text">Нажимая "Записаться" вы соглашаетесь с <a style="color: black;" target="_blank" href="{% url 'privacy' %}">политикой конфиденциальности</a></p>
        <style>
            .privacy-text {
                font-size: 0.8rem;
                font-family: Arial;
                text-align: center;
                color: grey;
            }
        </style>
    </form>
</div>
</body>
</html>