<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Маникюр Киренск</title>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
	<link
  		rel="stylesheet"
  		href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
	/>

	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

	{% load static %}
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="https://polina-nail.ru/static/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="https://polina-nail.ru/static/favicons/favicon-16x16.png">
	<link rel="shortcut icon" type="image/png" href="https://polina-nail.ru/static/favicons/favicon.ico"/>
	<link rel="manifest" href="{% static 'favicons/site.webmanifest' %}">
	<link rel="mask-icon" href="{% static 'favicons/safari-pinned-tab.svg' %}" color="#39b329">
	<meta name="msapplication-TileColor" content="#39b329">
	<meta name="theme-color" content="#39b329">

	<link rel="stylesheet" type="text/css" href="{% static 'main_page/css/index.css' %}">
</head>
<body>

<header class="header">
	<div class="container">
		<div class="wrapper-header-link">
			<div class="wrapper-logo">
				<a href="{% url 'main_page' %}"><img class="site_logo" src="{% static 'main_page/images/logo.png' %}" width="80" height="80"></a>
			</div>

			<nav class="navigation">
				<a class="nav-link" href="#about">О себе</a>
				<a class="nav-link" href="#services">Прайс-лист</a>
				<a class="nav-link" href="#reviews">Отзывы</a>
				<a class="nav-link" href="#contacts">Контакты</a>
			</nav>
			<div class="wrapper-button-make-an-appointment">
				<div class="wrapper-icon">
					<a href="https://vk.com/kirnails"><img id="vk_logo" src="{% static 'main_page/images/vk_logo.jpg' %}" width="30" height="30"></a>
					<a href="https://chat.whatsapp.com/GQULPGO151S6nLrkp4Fkw8"><img id="wapp_logo" src="{% static 'main_page/images/wapp_logo.jpg' %}" width="30" height="30"></a>
				</div>
				<button class="button-make-an-appointment" onclick="location.href='{% url 'sign_up' %}'">
					Записаться
				</button>
				<div class="hamburger-button">
					<div class="hamburger-button-top"></div>
					<div class="hamburger-button-middle"></div>
					<div class="hamburger-button-bottom"></div>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="intro" style="background: linear-gradient(#f7f7f7, 1%, #39B329, 80%, #f7f7f7);">
	<div id="main" class="container">
		<div class="intro__block">
			<h1>
				Мастер ногтевого сервиса
			</h1>

			<button class="button-online-req" onclick="location.href='{% url 'sign_up' %}'">
				Онлайн запись
			</button>
		</div>
	</div>
</div>

<div id="about" class="container">
	<div class="about">
		<div class="photos">
			<div class="image-wrapp">
				<img src="{% static 'main_page/images/Image(1).jpeg'%}">
				<img src="{% static 'main_page/images/Image(2).jpeg'%}">
			</div>
		</div>
		<div class="about-wrapp">
			<h4>О себе</h4>
			<p class="about-text">Молодой сертифицированный специалист, оказывающий услуги по маникюру уже на протяжении 3-х лет.<br>
				За относительно небольшую цену я предлагаю: богатую палитру цветов, материалы высокого качества, всегда обработанные инструменты перед процедурой. </p>
		</div>
	</div>
	<h4 class="text-portfolio">Некоторые из работ</h4>
	<p class="text-portfolio-vk">Больше работ вы можете найти в<br>моей группе <a href="https://vk.com/kirnails">ВКонтакте</a></p>
</div>
<div class="portfolio">
	<div class="container">
		<div class="photo-wrapp">
			<img src="{% static 'main_page/images/Image(3).jpeg'%}">
			<img src="{% static 'main_page/images/Image(4).jpg'%}">
			<img src="{% static 'main_page/images/Image(5).jpg'%}">
			<img src="{% static 'main_page/images/Image(6).jpg'%}">
			<img src="{% static 'main_page/images/Image(7).jpg'%}">
			<img src="{% static 'main_page/images/Image(8).jpg'%}">
			<img src="{% static 'main_page/images/Image(9).jpg'%}">
			<img src="{% static 'main_page/images/Image(10).jpg'%}">
			<img src="{% static 'main_page/images/Image(11).jpg'%}">
			<img src="{% static 'main_page/images/Image(12).jpg'%}">
			<img src="{% static 'main_page/images/Image(13).jpg'%}">
			<img src="{% static 'main_page/images/Image(14).jpg'%}">
			<img src="{% static 'main_page/images/Image(15).jpg'%}">
			<img src="{% static 'main_page/images/Image(16).jpg'%}">
		</div>
	</div>
</div>

<div id="services" class="container">
	<div class="services">
		<h3>Прайс-лист</h3>
		<div class="services-display">
			{% for s in services %}
				<div class="services-block">
					<img class="services-img" src="/static/{{s.image}}" width="270" height="153">
					<h2>{{ s.service }}</h2>
					<p class="text-in-service-block">{{s.time_to_comp}} ч.</p>
					<p class="text-in-service-block-120-rub">Снятие чужой работы: {{s.filming_work}} руб.</p>
					<p class="text-in-service-block">Предоплата ({{ s.prepayment }} руб.)</p>
					<p class="services-price"><b>{{ s.price }}</b> руб.</p>
					<div class="services-button-wrapper">
						<button class="services-button" onclick="location.href='{% url 'sign_up_with_args' s.service %}'">
							Записаться
						</button>
					</div>
				</div>
			{% endfor %}
		</div>

		<div class="service-on-the-side">
			{% for s in additional_services %}
				<div class="services-block" id="on-the-side">
					<h2>{{ s.service }}</h2>
					<p class="services-price" id="price-on-the-side"><b>{{ s.price }}</b> руб.</p>
					<div class="services-button-wrapper">
						<button class="services-button" onclick="location.href='{% url 'sign_up_with_args' s.service %}'">
							Записаться
						</button>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>

<div id="reviews" class="container">
	<div class="reviews">
		<h5>Отзывы клиентов</h5>
		<p class="reviews-feedback">Буду рада обратной связи.
			Отправляйте свои отзывы на <b><a style="text-decoration: none; color: #000;" href="mailto:d.pauline.w@gmail.com">d.pauline.w@gmail.com</a></b></p>
		<div class="swiper mySwiper">
			<div class="swiper-wrapper">
<!--				<div class="swiper-slide">-->
<!--					<div class="reviews-wrapper">-->
<!--						<div class="reviews-image"></div>-->
<!--						<div class="reviews-text">-->
<!--							<p>Все очень классно. Все понравилось. Девочка просто умница, или одним словом молодец</p>-->
<!--							<p class="reviews-user-name">Агата</p>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="swiper-slide">-->
<!--					<div class="reviews-wrapper">-->
<!--						<div class="reviews-image"></div>-->
<!--						<div class="reviews-text">-->
<!--							<p>Все очень классно. Все понравилось. Девочка просто умница, или одним словом молодец</p>-->
<!--							<p class="reviews-user-name">Агата</p>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="swiper-slide">-->
<!--					<div class="reviews-wrapper">-->
<!--						<div class="reviews-image"></div>-->
<!--						<div class="reviews-text">-->
<!--							<p>Все очень классно. Все понравилось. Девочка просто умница, или одним словом молодец</p>-->
<!--							<p class="reviews-user-name">Агата</p>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="swiper-slide">-->
<!--					<div class="reviews-wrapper">-->
<!--						<div class="reviews-image"></div>-->
<!--						<div class="reviews-text">-->
<!--							<p>Все очень классно. Все понравилось. Девочка просто умница, или одним словом молодец</p>-->
<!--							<p class="reviews-user-name">Агата</p>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="swiper-slide">-->
<!--					<div class="reviews-wrapper">-->
<!--						<div class="reviews-image"></div>-->
<!--						<div class="reviews-text">-->
<!--							<p>Все очень классно. Все понравилось. Девочка просто умница, или одним словом молодец</p>-->
<!--							<p class="reviews-user-name">Агата</p>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="swiper-slide">-->
<!--					<div class="reviews-wrapper">-->
<!--						<div class="reviews-image"></div>-->
<!--						<div class="reviews-text">-->
<!--							<p>Все очень классно. Все понравилось. Девочка просто умница, или одним словом молодец</p>-->
<!--							<p class="reviews-user-name">Агата</p>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="swiper-slide">-->
<!--					<div class="reviews-wrapper">-->
<!--						<div class="reviews-image"></div>-->
<!--						<div class="reviews-text">-->
<!--							<p>Все очень классно. Все понравилось. Девочка просто умница, или одним словом молодец</p>-->
<!--							<p class="reviews-user-name">Агата</p>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
				<div class="swiper-slide">
					<div class="reviews-wrapper">
						<div class="reviews-image"></div>
						<div class="reviews-text">
							<p>Отправляйте фотографии и делитесь впечатлениями. Здесь будем публиковать ваши отзывы</p>
							<p class="reviews-user-name">support@polina-nail.ru</p>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-pagination"></div>
			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>
		</div>
		<script>
			var swiper = new Swiper('.mySwiper', {
				spaceBetween: 30,
				navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev',
				},
				pagination: {
					el: '.swiper-pagination',
				},
				mousewhell: true,
			});
		</script>
	</div>
</div>

<div id="contacts" class="contacts">
	<div class="contacts-wrapper">
		<h6>Контакты</h6>
		<p class="contacts-text">мкр.Мельничный, ул.Трудовых резервов, д.2</p>
		<p class="contacts-text">Номер телефона: <a href="tel:+79041465797">+7 (904) 146-57-97</a></p>
		<p class="contacts-text">Время работы: 10:00 — 19:00</p>
	</div>
	<div id="wrapMap">
		<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ade198439c8cc5f1ea782cbfa26aaaf85803cd3d23c0fc2c89b894e90a59e9dfd&amp;width=100%25&amp;height=500&amp;lang=ru_RU&amp;scroll=false"></script>
	</div>
</div>

<footer>
	<div class="container">
		<div class="footer-info" style="display: flex;justify-content: space-around;">
			<div>
				<p style="margin-bottom: 5px;margin-top: 0;"><a style="text-decoration: none;color: #777e89;" target="_blank" href="{% url 'privacy' %}">Политика конфиденциальности</a></p>
				<p style="margin-top: 5px;"><a style="text-decoration: none;color: #777e89;" target="_blank" href="{% static 'main_page/images/sertif.png'%}">Сертификат</a></p>
			</div>
			<div>
				<span>Помощь и вопросы по сайту <b><a style="color: #777e89;" href="mailto:support@polina-nail.ru">support@polina-nail.ru</a></b></span>
				<style>
					table {
					border-collapse: collapse; /* Убираем двойные линии между ячейками */
					margin-top: 20px;
				   }
				   td, th {
					padding: 3px; /* Поля вокруг содержимого таблицы */
					border: 1px solid black; /* Параметры рамки */
				   }
				</style>
				<table style="color: #777e89;">
					<caption>Реквизиты</caption>
					<tr>
						<td>Ф.И.О.</td>
						<td>Дядина Полина Александровна</td>
					</tr>
					<tr>
						<td>ИНН</td>
						<td>383106010204</td>
					</tr>
				</table>
			</div>
		</div>
		<div style="margin-top: 20px;">&copy Все права защищены</div>
	</div>
</footer>

<script>
	document.querySelector('.hamburger-button').addEventListener('click', function() {
		this.classList.toggle('active');
		document.querySelector('.navigation').classList.toggle('open');
	})
	document.querySelector('.navigation').addEventListener('click', function() {
		this.classList.toggle('open');
		document.querySelector('.hamburger-button').classList.toggle('active');
	})
</script>
</body>
</html>
