<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Завершение записи</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main_page/css/record_finish.css' %}">
</head>
<body>
<div class="placeholder">
    <p class="text">
        Вы успешно записаны.<br>
        По вопросам записи <a href="tel:+79041465797">+7_(904)_146-57-97</a><br>
        По поводу предоплаты с вами свяжутся в мессенджере WhatsApp
    </p>
    <a href="{% url 'main_page' %}" class="link-main">Вернутся на главную</a>
</div>
<script>
    requestURL = "{% url 'create_calendar_event' %}"

    function sendRequest (method, url, pk) {
        return new Promise ((resolve, reject) => {
            const xhr = new XMLHttpRequest()

            xhr.open(method, url)

            xhr.responseType = 'json'
            xhr.setRequestHeader('Content-Type', 'application/json')

            xhr.onload = () => {
                if (xhr.status >= 400) {
                    reject(xhr.response)
                } else {
                    resolve(xhr.response)
                }
            }

            xhr.onerror = () => {
                reject(xhr.response)
            }
            xhr.send(JSON.stringify(pk))
        })
    }

    document.addEventListener('DOMContentLoaded', () => {
        sendRequest('POST', requestURL, {{ pk }})
            .then(data => console.log(data))
            .catch(err => console.log(err))
    });
</script>
</body>
</html>
